*.svg
.idea/
*.php~
*.PHP~
projects/datenkontrolle/
projects/overview/current.html
*.jpg
*.jpg
*.jpeg
*.JPEG
*.png
*.PNG
*.mp4
*.MP4
*.gif
*.GIF
*.pdf
*.PDF
*.asc
*.ASC
*.tif
*.TIF
*.tiff
*.TIFF
*.mov
*.MOV
*.eps
*.EPS
*.ps
*.PS
*.zip
*.ZIP
*.webm
*.WEBM
